API_KEY=REPLACE_WITH_YOUR_API_KEY
LLM_BASE_URL=REPLACE_WITH_YOUR_LLM_BASE_URL
LLM_MODEL=REPLACE_WITH_YOUR_LLM_MODEL
EMBEDDINGS_URL=REPLACE_WITH_YOUR_EMBEDDINGS_URL
EMBEDDING_MODEL=REPLACE_WITH_YOUR_EMBEDDING_MODEL
QDRANT_URL=REPLACE_WITH_YOUR_QDRANT_URL
QDRANT_API_KEY=REPLACE_WITH_YOUR_QDRANT_API_KEY
PORT=3000
